.container{
    display: block;
    align-items: center;
    justify-content: center;
    width: 14em;
    margin: 0 0.2em;
    float: left;
    border: 2px solid rgb(242, 244, 244);
    padding: 2px;
    position: relative;
    background-color: rgb(26, 98, 160);
}

.pic img{
    width: 100%;
}

.title{
    font-weight: bold;
    margin-bottom: 1em;
    /* color: white; */
}

.channel, .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.views span{
    padding: 0  0.5em;
}


.subscribeButton{
background-color: rgb(228, 117, 86);
color: rgb(1, 1, 12);
}



.close{
    position: absolute;
    right: 0;
}
.edit{
    position: absolute;
    right: 3em;
}

.darkMode{
    background-color: crimson;
    color: rgb(7, 230, 18);
}

.lightMode, title{
    background-color: rgb(16, 230, 148);
    color: rgb(18, 7, 230);
}